# 1. Python Cache & Environment
__pycache__/
*.pyc
venv/
.venv/
env/

# 2. Rahasia & Konfigurasi Lokal (SANGAT PENTING)
.streamlit/secrets.toml
.env

# 3. Data Riwayat & Database Lokal
data/stats.csv
*.db
*.sqlite3

# 4. Folder Editor & Build
.vscode/
.dist/
.idea/

# 5. Mac OS Junk Files
._*
.DS_Store